# Some dependencies are already installed by restAPI-package

# Dependencies used for local development
black==23.3.0
pick==2.2.0
pylint==2.17.3
rich==13.3.4
sourcery==1.2.0

# Dependencies used by services
Unidecode==1.3.6
